@font-face {
  font-family: 'opensans';
  src: url(../fonts/opensans.ttf);
}

@font-face {
  font-family: 'opensanslight';
  src: url(../fonts/opensanslight.ttf);
}

@font-face {
  font-family: 'opensanssemibold';
  src: url(../fonts/opensanssemibold.ttf);
}

@font-face {
  font-family: 'sourcesanspro';
  src: url(../fonts/sourcesanspro.ttf);
}

@font-face {
  font-family: 'sourcesansproitalic';
  src: url(../fonts/sourcesansproitalic.ttf);
}

@font-face {
  font-family: 'sourcesansprosemibold';
  src: url(../fonts/sourcesansprosemibold.ttf);
}

@font-face {
  font-family: 'fa-solid-900';
  src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
  font-family: 'fa-brands-400';
  src: url(../fonts/fa-brands-400.ttf);
}

.container {
  max-width: 1140px;
  margin: auto;
}

body {
  font-size: 16px;
  color: #626262;
  font-family: 'opensans', sans-serif;
}

.header {
  height: 100vh;
  background: #f5f5f5;
}

.header nav {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav .logo {
  border: 3px solid #706b73;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 150px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
}

.header nav .logo h1 {
  font-family: 'opensanssemibold', sans-serif;
  font-size: 37px;
  color: #626262;
}

.header nav .logo h1 span {
  color: #fc6744;
}

.header nav .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 35px;
  height: 20px;
  position: relative;
}

.header nav .dropdown span {
  background: #706b73;
  width: 35px;
  height: 4px;
}

.header nav .dropdown span::before {
  content: '';
  position: absolute;
  background: #706b73;
  width: 35px;
  height: 4px;
  top: 0;
}

.header nav .dropdown span::after {
  content: '';
  position: absolute;
  background: #706b73;
  width: 35px;
  height: 4px;
  bottom: 0;
}

.header nav .menu {
  position: fixed;
  background: #ffffff;
  width: 30%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 2px;
  display: none;
}

.header nav .menu.active {
  display: block;
}

.header nav .menu .close {
  width: 30px;
  height: 30px;
  background: rgba(98, 98, 98, 0.8);
  position: absolute;
  top: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.header nav .menu .close::before {
  content: '';
  position: absolute;
  background: #ff6e47;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header nav .menu .close::after {
  content: '';
  position: absolute;
  background: #ff6e47;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header nav .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #626262;
  font-size: 17px;
  font-family: 'opensanssemibold', sans-serif;
  margin-top: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header nav .menu a:hover {
  color: #ff6e47;
}

.header .title {
  position: absolute;
  top: 280px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.header .title h3 {
  font-family: 'opensanssemibold', sans-serif;
  font-size: 50px;
}

.header .title h3 span {
  color: #fc6744;
}

.header .title p {
  margin-top: 15px;
  line-height: 25px;
  max-width: 710px;
}

.header .form {
  position: absolute;
  bottom: 0;
}

.header .form form {
  background: #ffffff;
  width: 375px;
  height: 390px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 20px rgba(98, 98, 98, 0.2);
          box-shadow: 0 0 20px rgba(98, 98, 98, 0.2);
  text-align: center;
}

.header .form form h5 {
  padding-top: 20px;
  font-size: 20px;
  margin-bottom: 35px;
}

.header .form form h5 span {
  color: #ff5c36;
}

.header .form form input[type="text"] {
  border-bottom: 1.3px solid rgba(199, 199, 199, 0.5);
  width: 290px;
  height: 30px;
}

.header .form form input[type="text"]::-webkit-input-placeholder {
  font-size: 15px;
}

.header .form form input[type="text"]:-ms-input-placeholder {
  font-size: 15px;
}

.header .form form input[type="text"]::-ms-input-placeholder {
  font-size: 15px;
}

.header .form form input[type="text"]::placeholder {
  font-size: 15px;
}

.header .form form input[type="text"]:last-of-type {
  margin-top: 20px;
}

.header .form form textarea {
  margin-top: 20px;
  width: 290px;
  height: 90px;
  border-bottom: 1.3px solid rgba(199, 199, 199, 0.5);
}

.header .form form textarea::-webkit-input-placeholder {
  font-size: 15px;
}

.header .form form textarea:-ms-input-placeholder {
  font-size: 15px;
}

.header .form form textarea::-ms-input-placeholder {
  font-size: 15px;
}

.header .form form textarea::placeholder {
  font-size: 15px;
}

.header .form form .btn {
  margin-top: 20px;
}

.header .form form .btn button {
  background: #ff5c36;
  width: 240px;
  height: 55px;
  border-radius: 40px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .form form .btn button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .anchor {
  background: rgba(98, 98, 98, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 2px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .anchor:hover {
  background: #fc6744;
}

.header .anchor a .fas {
  font-family: 'fa-solid-900';
  color: #ffffff;
}

.about {
  padding-top: 135px;
  padding-bottom: 150px;
}

.about .title {
  text-align: center;
}

.about .title h4 {
  font-family: 'opensanssemibold', sans-serif;
  font-size: 50px;
}

.about .title h4 span {
  color: #fc6744;
}

.about .title p {
  letter-spacing: 0.16px;
}

.about .cards {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .cards .card {
  text-align: center;
  width: 265px;
  height: 265px;
  position: relative;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about .cards .card:hover {
  -webkit-box-shadow: 0 0 20px rgba(98, 98, 98, 0.5);
          box-shadow: 0 0 20px rgba(98, 98, 98, 0.5);
}

.about .cards .card .icon {
  margin-top: 40px;
}

.about .cards .card .icon .fas {
  font-family: 'fa-solid-900';
  font-size: 40px;
}

.about .cards .card .content {
  margin-top: 10px;
}

.about .cards .card .content h5 {
  font-family: 'opensanssemibold', sans-serif;
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.about .cards .card .content p {
  font-size: 15px;
  color: #ffffff;
  max-width: 170px;
  margin: auto;
  margin-top: 10px;
  line-height: 22px;
}

.about .cards .card .btn button {
  background: #ffffff;
  width: 230px;
  height: 55px;
  border-radius: 40px;
  position: absolute;
  left: 50%;
  bottom: -27.5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 20px rgba(98, 98, 98, 0.5);
          box-shadow: 0 0 20px rgba(98, 98, 98, 0.5);
}

.about .cards .one {
  background: #4eb2f7;
}

.about .cards .one .icon .fas {
  color: #dcf0fd;
}

.about .cards .two {
  background: #c049f8;
}

.about .cards .two .icon .fas {
  color: #f2dbfe;
}

.about .cards .three {
  background: #817eff;
}

.about .cards .three .icon .fas {
  color: #e6e5ff;
}

.about .cards .four {
  background: #f74770;
}

.about .cards .four .icon .fas {
  color: #fddae2;
}

.work {
  padding-top: 110px;
  background: #fbfbfb;
  padding-bottom: 150px;
}

.work .title {
  text-align: center;
  text-align: center;
}

.work .title h4 {
  font-family: 'opensanssemibold', sans-serif;
  font-size: 50px;
}

.work .title h4 span {
  color: #fc6744;
}

.work .title p {
  letter-spacing: 0.16px;
}

.work .cards {
  margin-top: 100px;
}

.work .cards .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.work .cards .block:first-of-type {
  margin-top: 0;
}

.work .cards .block .card {
  background: #ff5c36;
  width: 360px;
  height: 360px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.work .cards .block .card:hover {
  -webkit-box-shadow: 0 0 20px rgba(98, 98, 98, 0.5);
          box-shadow: 0 0 20px rgba(98, 98, 98, 0.5);
}

.services {
  padding-top: 130px;
  padding-bottom: 180px;
}

.services .title {
  text-align: center;
}

.services .title h4 {
  font-family: 'opensanssemibold', sans-serif;
  font-size: 50px;
}

.services .title h4 span {
  color: #fc6744;
}

.services .title p {
  letter-spacing: 0.16px;
}

.services .content {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .content .link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 95px;
  background: #fbfbfb;
  margin-top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services .content .link a:first-of-type {
  margin-top: 0;
}

.services .content .link a:hover {
  -webkit-box-shadow: 0 0 20px rgba(98, 98, 98, 0.2);
          box-shadow: 0 0 20px rgba(98, 98, 98, 0.2);
  background: #ffffff;
}

.services .content .desc h5 {
  font-size: 30px;
}

.services .content .desc .line {
  width: 60px;
  height: 3px;
  background: #ff5c36;
  margin: 10px 0;
}

.services .content .desc p {
  line-height: 25px;
  max-width: 510px;
  margin-top: 20px;
}

.services .content .desc p:first-of-type {
  margin-top: 0;
}

.services .content .desc .btn {
  margin-top: 25px;
}

.services .content .desc .btn button {
  background: #ffffff;
  width: 230px;
  height: 55px;
  border-radius: 40px;
  -webkit-box-shadow: 0 5px 15px rgba(98, 98, 98, 0.2);
          box-shadow: 0 5px 15px rgba(98, 98, 98, 0.2);
  border: 1px solid rgba(98, 98, 98, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services .content .desc .btn button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team {
  padding-top: 130px;
  padding-bottom: 150px;
  background: #fbfbfb;
}

.team .title {
  text-align: center;
}

.team .title h4 {
  font-family: 'opensanssemibold', sans-serif;
  font-size: 50px;
}

.team .title h4 span {
  color: #fc6744;
}

.team .title p {
  letter-spacing: 0.16px;
}

.team .content {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .content .card {
  width: 360px;
  height: 445px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.team .content .card:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.team .content .card:hover .back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.team .content .card .front {
  background: #ff5c36;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.team .content .card .front .author {
  text-align: center;
  background: #ffffff;
  width: 265px;
  height: 95px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -47.5px;
  -webkit-box-shadow: 0 5px 20px rgba(98, 98, 98, 0.2);
          box-shadow: 0 5px 20px rgba(98, 98, 98, 0.2);
}

.team .content .card .front .author h5 {
  font-family: 'opensanssemibold', sans-serif;
  font-size: 30px;
  margin-top: 10px;
}

.team .content .card .front .author p {
  font-family: 'opensanslight', sans-serif;
  font-size: 15px;
}

.team .content .card .back {
  background: #fff3f0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.team .content .card .back .skills {
  text-align: center;
  margin-top: 170px;
}

.team .content .card .back .skills .skill p {
  font-size: 10px;
}

.team .content .card .back .skills .design .line {
  width: 150px;
  height: 3px;
  background: #817f7e;
  margin: auto;
  margin-top: 5px;
  position: relative;
}

.team .content .card .back .skills .design .line::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 3px;
  background: #ff6e47;
  top: 0;
  left: 0;
}

.team .content .card .back .skills .english {
  margin-top: 10px;
}

.team .content .card .back .skills .english .line {
  width: 150px;
  height: 3px;
  background: #817f7e;
  margin: auto;
  margin-top: 5px;
  position: relative;
}

.team .content .card .back .skills .english .line::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 3px;
  background: #ff6e47;
  top: 0;
  left: 0;
}

.team .content .card .back .skills .communication {
  margin-top: 10px;
}

.team .content .card .back .skills .communication .line {
  width: 150px;
  height: 3px;
  background: #817f7e;
  margin: auto;
  margin-top: 5px;
  position: relative;
}

.team .content .card .back .skills .communication .line::before {
  content: '';
  position: absolute;
  width: 115px;
  height: 3px;
  background: #ff6e47;
  top: 0;
  left: 0;
}

.team .content .card .back .author {
  margin-top: 60px;
  text-align: center;
}

.team .content .card .back .author h5 {
  font-family: 'opensanssemibold', sans-serif;
  font-size: 30px;
}

.team .content .card .back .author p {
  font-family: 'opensanslight', sans-serif;
  color: #ff724c;
}

.team .content .card .back .icon {
  text-align: center;
  margin-top: 10px;
}

.team .content .card .back .icon a {
  margin-left: 10px;
}

.team .content .card .back .icon a:first-of-type {
  margin-left: 0;
}

.team .content .card .back .icon a .fab {
  font-family: 'fa-brands-400';
  color: #626262;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team .content .card .back .icon a .fab:hover {
  color: #ff724c;
}

.clients {
  padding-top: 120px;
  padding-bottom: 140px;
}

.clients .title {
  text-align: center;
}

.clients .title h4 {
  font-family: 'opensanssemibold', sans-serif;
  font-size: 50px;
}

.clients .title h4 span {
  color: #fc6744;
}

.clients .title p {
  letter-spacing: 0.16px;
}

.clients .clients-slider-wrap {
  margin-top: 80px;
  position: relative;
  height: 390px;
}

.clients .clients-slider-wrap .clients-slider {
  text-align: center;
  height: 330px;
}

.clients .clients-slider-wrap .clients-slider .slick-list {
  padding-top: 50px;
  height: 330px;
}

.clients .clients-slider-wrap .clients-slider .slick-dots {
  bottom: -35px;
  height: 5px;
}

.clients .clients-slider-wrap .clients-slider .slick-dots .slick-active button::before {
  color: #ff6e47;
}

.clients .clients-slider-wrap .clients-slider .slick-dots li {
  margin: 2px;
}

.clients .clients-slider-wrap .clients-slider .slick-dots li button {
  height: 5px;
  padding: 0;
}

.clients .clients-slider-wrap .clients-slider .slick-dots li button::before {
  content: '-';
  opacity: 1;
  font-size: 60px;
  color: #e0e0e0;
  font-family: 'opensanssemibold', sans-serif;
}

.clients .clients-slider-wrap .clients-slider .block {
  max-width: 540px;
  height: 275px;
  text-align: center;
  position: relative;
  border: 1px solid rgba(98, 98, 98, 0.2);
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.clients .clients-slider-wrap .clients-slider .block:hover {
  border: none;
  -webkit-box-shadow: 0 5px 20px rgba(98, 98, 98, 0.2);
          box-shadow: 0 5px 20px rgba(98, 98, 98, 0.2);
}

.clients .clients-slider-wrap .clients-slider .block .avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -50px;
  border: 1px solid rgba(98, 98, 98, 0.2);
}

.clients .clients-slider-wrap .clients-slider .block p {
  margin: auto;
  margin-top: 85px;
  max-width: 450px;
  font-family: 'sourcesanspro', sans-serif;
  font-size: 17px;
  line-height: 27px;
}

.clients .clients-slider-wrap .clients-slider .block .rating {
  margin-top: 10px;
}

.clients .clients-slider-wrap .clients-slider .block .rating .fas {
  font-family: 'fa-solid-900';
  font-size: 14px;
  color: #ffef3b;
}

.clients .clients-slider-wrap .clients-slider .block .author {
  margin-top: 10px;
}

.clients .clients-slider-wrap .clients-slider .block .author p {
  margin-top: 0;
  font-family: 'sourcesansprosemibold', sans-serif;
  font-size: 17px;
}

.clients .clients-slider-wrap .clients-slider .block .author p span {
  font-family: 'sourcesansproitalic', sans-serif;
}

.clients .clients-slider-wrap .slider-btn .arrow-left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -22.5px;
  -webkit-box-shadow: 0 5px 20px rgba(98, 98, 98, 0.2);
          box-shadow: 0 5px 20px rgba(98, 98, 98, 0.2);
}

.clients .clients-slider-wrap .slider-btn .arrow-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -22.5px;
  -webkit-box-shadow: 0 5px 20px rgba(98, 98, 98, 0.2);
          box-shadow: 0 5px 20px rgba(98, 98, 98, 0.2);
}

.clients .clients-slider-wrap .slider-btn button {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.clients .clients-slider-wrap .slider-btn button:hover {
  background: #ff6e47;
}

.clients .clients-slider-wrap .slider-btn button:hover .fas {
  color: #ffffff;
}

.clients .clients-slider-wrap .slider-btn button .fas {
  font-family: 'fa-solid-900';
}

.partners {
  padding-top: 70px;
  padding-bottom: 90px;
  background: #fbfbfb;
}

.partners .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  background: #f7f7f7;
  text-align: center;
}

.footer .btn button {
  width: 240px;
  height: 55px;
  background: #fdfdfd;
  border-radius: 40px;
  border: 1px solid rgba(98, 98, 98, 0.1);
  -webkit-box-shadow: 0 5px 10px rgba(98, 98, 98, 0.1);
          box-shadow: 0 5px 10px rgba(98, 98, 98, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .btn button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.footer .block .icon a {
  margin-left: 10px;
}

.footer .block .icon a:first-of-type {
  margin-left: 0;
}

.footer .block .icon a .fab {
  font-family: 'fa-brands-400';
  color: #ffffff;
  font-size: 18px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #d3d3d3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .block .icon a .fab:hover {
  background: #ff6e47;
  -webkit-box-shadow: 0 0px 20px rgba(98, 98, 98, 0.3);
          box-shadow: 0 0px 20px rgba(98, 98, 98, 0.3);
}

.footer .block .copy {
  margin-left: 20px;
}

.footer .block .copy p {
  font-size: 17px;
}
/*# sourceMappingURL=style.css.map */